.deleteBooking {
    color: white;
}

.SidebarBodyBooking {
    margin-top: 5px;
}

h7.mb-0 {
    color: rgb(136, 135, 135);
    font-size: 10pt;
}

.SidebarBottom {
    margin-top: 20px;
}

.notif-close {
    font-size: 8pt;
    color: orange;
}

.notif {
    font-size: 9pt;
    color: orange;
    font-style: italic;
}

.del, .check {
    padding-right: 15px;
}

.btn-del {
    background-color: brown;
    width: 200px;
    color: white;
    padding: 20px;
}
