.editBooking {
    color: white;
    
    input{
        width: 100%;
        font-weight: bold;
        font-size: 15px
      }

    .input-keyboard-wrapper{
    position: relative;
    .input-masking{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;;
    }
    }
}

.SidebarBody {
    padding-left: 0px;
    margin-top: 10px;
}

.Sidebar{
  .input-uangTambah{
    width: 100%;
    max-height: 40px
  }
  .input-uangDiskon{
    width: 100%;
    max-height: 40px
  }
  .input-uangMuka{
    width: 100%;
    max-height: 40px
  }
  .input-user{
    width: 100%;
    max-height: 40px
  }
  .input-password{
    width: 100%;
    max-height: 40px
  }
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
