
.OrderBooking{
    color: white;
  
    input{
      margin-left: -1rem;
    }
  
    .input-data-wrapper{
      position: relative;
      .input-masking{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;;
      }
    }
  }

.SidebarBody {
    margin-top: 10px;
}

.input {
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    text-align: left;
    font-weight: none;
}

.input:focus,
.input:hover {
    background-color: none;
}

textarea.input-note.form-control {
    margin-top: 20px;
    height: 100px;
}

.pr-0{
    margin-top: 10px;
}

.input-lg {
    margin-top: 10px;
    margin-left: 15px;
    height: 50px;
    border: none;
    border-radius: 1rem;
}

.input-lg.approval {
    background-color: gray;
}

input[type=radio] {
    margin-top: 5px;
    display: block;
}

input.radio.sm.for.-control-sm.form-check-input {
    font-size: 1rem;
    size: 1rem;
    margin-left: 0px;
}

label.form-check-label {
    margin-left: 20px;
}
