@import "../../sass/vars";

.cart{
  table {
    th, td{
      padding: 0rem .5rem;
      vertical-align: middle;
      font-weight: 700;
    }
    th{
      padding: 0rem .5rem;
    }
    th.header{
      font-size: 1.25rem; font-weight: 700;
    }

    .item-name{
      width: 55%;
    }
    .item-delete{
      width: 60px;
    }
    .item-qty{
      width: 100px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .item-price{
      width: 150px;
    }

    td.item-qty{
      padding: 0;
      input{
        width: 50px;
        height: 1.75rem;
        font-weight: 700;
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
        &::placeholder {
          color: white !important;
        }
        &.btn-danger.focus, 
        &.btn-danger:focus{
          background-color:black;
          color: white;
        }
      }
    }
    tfoot.tfoot-booking{
      display: table;
      position: fixed;
      bottom: 0rem;
      left: 0;
      width: 50%;
      padding-top: 1rem;
      padding-left: 0;
      padding-right: 0;
      background-color: #f9f9f9;
      tr{
        padding-top: 0;
        padding-bottom: 0;
      }
      th,td{
        padding: 0rem 1.5rem;
        box-sizing: border-box;
      }
      th{
        padding: 0.75rem 1.5rem;
      }

      .cart-subtotal{
        font-weight: 600;
        .subtotal-price{
          text-align: right;
          font-size: 1.25rem;
          line-height: 1;
        }
      }

      .table-spacer{
        padding: 0rem;
        height: 10px;;
        td{
          padding: 0rem;

        }
      }

      .cart-total{
        background-color: $red;
        color: white;
        th.grand-total-label{
          width: 200px;
          padding-right: 0;
        }
        th.grand-total{
          font-size: 2.25rem;
        }
      }
    }
  }

  .item-delete{
    width: 60px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;

    .btn-delete-item{
      cursor: pointer;
      &:hover{
        color: $red;
      }
    }
  }
}



/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}