@import "../../sass/vars";

.login{
  width: 720px;
  // display: flex;
  align-items: center;
  // justify-content: center;

  .login-header{
    background-color: white;
    padding: 2rem 3rem;
    font-size: 1.75rem;
    h1,h2,h3,h4,h5,h6{
      margin: 0;
      font-weight: 700;
    }
  }

  .box-pin{
    background-color:$lightGrey;
    padding: 2rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-calc{
    width: auto;
    height: 400px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      content: '';
      position: absolute;
      bottom: 3.5rem;
      left: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 20px 0;
      border-color: transparent $red transparent transparent;
      transition: all .15s ease-in-out; -webkit-transition: all 0.15s ease-in-out;
    }
    &.saldo{
      &::before{
        top: 7rem;
      }
    }
    &.username{
      &::before{
        top: 14.25rem;
      }
    }
    &.pin{
      &::before{
        top: 21.5rem;
      }
    }
  }
}



.btn-logout{
  color: white;
  font-size: 2.5rem;
  padding: 2rem;
  float: left;
  line-height: 1;
}