.ShadowScrollbars{
  position: relative;
  margin-right: -1rem;
  .shadow-top,
  .shadow-bottom{
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    pointer-events: none;
  }
  .shadow-top{
    top: 0;
    &.black{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%)
    }
    &.white{
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)
    }
  }
  .shadow-bottom{
    bottom: 0;
    &.black{
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &.white{
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)
    }
  }
}


.scroll-wrapper{
  margin-right: 1rem;
}