@import "../../sass/vars";

.SidebarComponentsWrapper{
  z-index: 4;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  padding: 3% 7%;
  @media only screen and (max-width: 1140px) {
    padding: 3% 4%;
  }
  background-color: rgba(0,0,0,.75);
  background-image: url('../../img/bg-login.jpg');
  background-size: cover;
  color: white;

  .sidebar-header-nav{
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-left: -1rem;
    cursor: pointer;
    &:hover{
      color: $orange !important;
    }
  }

  .TransactionItems, .ReservationItems {
    background-color: white;
    border-radius: 10px;
    // padding-top: 10px;
  }

  .SidebarBody{
    .simple-keyboard.hg-theme-default{
      max-width: 250px;;
    }  
  }

  .SidebarFooter{
    button{
      margin-left: -1rem;
      font-weight: 700;
    }
  }
}